<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.CommonProtos" version="1.7.0" targetFramework="net461" />
  <package id="Google.Api.Gax" version="2.9.0" targetFramework="net461" />
  <package id="Google.Api.Gax.Grpc" version="2.9.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.40.2" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.40.2" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.40.2" targetFramework="net461" />
  <package id="Google.Cloud.Firestore" version="1.0.0" targetFramework="net461" />
  <package id="Google.Cloud.Firestore.V1" version="1.0.0" targetFramework="net461" />
  <package id="Google.LongRunning" version="1.1.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net461" />
  <package id="Grpc.Auth" version="1.22.0" targetFramework="net461" />
  <package id="Grpc.Core" version="1.22.0" targetFramework="net461" />
  <package id="Grpc.Core.Api" version="1.22.0" targetFramework="net461" />
  <package id="LiteDB" version="4.1.4" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Prism.Core" version="7.2.0.1367" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.6" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>